extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=eventUser.email)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value=eventUser.firstName)
    .form-group
      label.col-sm-3.control-label Gender
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=eventUser.gender=='m', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', checked=eventUser.gender=='f', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-3.control-label(for='uportid') Uport ID
      .col-sm-7
        input.form-control(type='text', name='uportid', id='uportid', value=eventUser.uportId,readonly=true)
    .form-group
      label.col-sm-3.control-label(for='contracthash') Contract Hash
      .col-sm-7
        input.form-control(type='text', name='contracthash', id='contracthash', value=eventUser.contractHash,readonly=true)
    .form-group
      label.col-sm-3.control-label(for='isIn') Has Entered
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=eventUser.isEntered==true, name='isIn', value='true', data-toggle='radio',disabled='disabled')
          span Yes
        label.radio.col-sm-3
          input(type='radio', checked=eventUser.isEntered==false, name='isIn', value='false', data-toggle='radio',disabled='disabled')
          span No
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile


